//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap')

//CSS Variables
//Primary Colors
$desaturated-red: hsl(0, 36%, 70%)
$soft-red: hsl(0, 93%, 68%)

//Neutral Colors
$dark-grayish-red: hsl(0, 6%, 24%)

//Gradient Colors
//Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
//Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

//Typography
$josefin-sans: 'Josefin Sans', sans-serif

.body
  font-family: $josefin-sans
  font-size: 16px

